<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PageCrawler" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=HappyCodingThis.WebCrawler.Data.HappyCodingThis.PageCrawler;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>